@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HelveticaRounded";
    src: local("HelveticaRounded"), url(~assets/HelveticaRounded-Bold.otf) format("truetype");
  }
}
body{
  background-color: black;
}

/* Remove all underline */
@layer base {
  a {
    @apply no-underline !important;
  }
}

/* Custom Styles */
.button{
  @apply  btn bg-opacity-50 text-yellow-300 border-yellow-300
          hover:bg-yellow-300 hover:text-black py-2 px-4 border  hover:border-transparent
          rounded shadow hover:shadow-lg
          capitalize
}

.nuxt-content-editor{
  min-width: 500px;
  width:100%;
}

.primary-text{
  color: #FD0
}
